
textInput {
    display: block;
    flex: 1 0 30px;
    max-height: 30px;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    background-color: #f7f7f7;
  }
  
  .textInput:focus {
    outline: none;
  }